.layout2-left {
	background-color: #cdeae8;
	border-right: 7px solid #8bd3cf;
}
.avtar-outer {
	border-radius: 50%;
	padding: 11px;
	border: 5px solid #8bd3cf;
}
.avtar-outer .avtar {
	box-shadow: 0 0 10px rgb(100, 99, 99);
}
.main-strip {
	background-color: #8bd3cf;
}
.border-left {
	border-left: 3px solid #8bd3cf;
}
