.layout2-left {
	background-color: #cdeae8;
	border-right: 7px solid #8bd3cf;
}
.avtar-outer {
	border-radius: 50%;
	padding: 12px;
	border: 5px solid #8bd3cf;
}
.avtar-outer .avtar {
	box-shadow: 0 0 10px rgb(100, 99, 99);
}
.main-strip {
	background-color: #8bd3cf;
}
.border-left {
	border-left: 3px solid #8bd3cf;
	padding-left: 3px;
}
.avtar-row {
	position: relative;
	display: flex;
	align-items: center;
}
.avtar-col.col-2 {
	position: absolute;
	left: 55px;
}
.avtar-col.col-11 {
	z-index: 1;
	height: 145px;
	padding-left: 95px !important;
	display: flex;
	align-items: center;
}
h2.mainContent {
	font-size: 28px;
}
.circular {
	display: flex;
	justify-content: center;
	align-items: center;
}
.top-line,
.bottom-line {
	width: 210mm;
	position: absolute;
	display: table;
	padding-top: 0.35rem;
}
.top-line hr,
.bottom-line hr {
	height: 4px;
	opacity: 1;
	margin-top: 0.25rem;
}
.top-line .text {
	margin-bottom: 0;
	text-transform: uppercase;
}
.bottom-line {
	bottom: -573px;
}
